* {
    margin: 0;
    padding: 0;
}

body {
    list-style: none;
    box-sizing: border-box;
    min-height: 3900px;
    max-width: 100%;
    header {
        height: 23rem;
        .navbar1 {
            height: 4rem;
            border-bottom: 1px ridge;
            .left-col1 {
                .left-icons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-left: 6rem;
                    margin-top: 1rem;
                    img {
                        width: 25px;
                        margin-right: 0.9rem;
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                }
            }
            .right-col1 {
                .right-icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-right: 4rem;
                    .icon1,
                    .icon2 {
                        padding-top: 1rem;
                        margin-left: 1rem;
                        img {
                            width: 24px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .logo {
            border-bottom: 1px ridge;
            height: 13rem;
            text-align: center;
            img {
                padding-top: 0.5rem;
                height: 170px;
                width: auto;
            }
        }
        .navbar2 {
            display: flex;
            border-bottom: 1px ridge;
            flex-wrap: nowrap;
            height: 6rem;
            position: relative;
            .left-col2 {
                .navbar-menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    flex-wrap: nowrap;
                    .hamburger {
                        border: none;
                        background-color: transparent;
                        display: none;
                        margin-top: 1.5rem;
                        img {
                            width: 25px;
                        }
                        cursor: pointer;
                        &:focus {
                            outline: none;
                        }
                    }
                    .nav1 {
                        margin-top: 1.3rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                       list-style: none;
                        // top: 50px;
                        // left: 0%;
                        // position: absolute;
                        // width: 190px;
                        // height: 250px;
                        // display: none;
                        // flex-wrap: wrap;
                        // background-color: white;

                        li :hover {
                            background-color: rgb(228, 224, 224);
                        }
                        a {
                            color: black;
                            font-weight: 400;
                            font-size: 27px;
                            margin-right: 4rem;
                            text-decoration: none;
                          
                            &:nth-child(6) {
                                margin-right: 0rem;
                            }
                        }
                        .hover {
                            div {
                                position: relative;
                                img {
                                    position: absolute;
                                    left: 59%;
                                    top: 28%;
                                }
                            }
                            .block {
                                display: none;
                                list-style: none;
                                border: 1px ridge;
                                height: 110px;
                                width: 13rem;
                                li {
                                    width: 110px;
                                    a {
                                        font-size: 24px;
                                        text-align: center;
                                        text-decoration: none;
                                    }
                                }
                            }
                            &:hover {
                                .block {
                                    display: block;
                                    position: absolute;
                                    background-color: white;
                                    margin-top: 4px;
                                    margin-left: -49px;
                                }
                            }
                        }
                    }
                }
            }
            .right-col2 {
                .bag {
                    padding-top: 1rem;
                    padding-right: 1rem;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
    main {
        .img-box {
            margin: 4rem 0rem 0rem 6rem;
            width: 95%;
            img {
                width: 95%;
            }
        }
        .text {
            font-family: "Montserrat", sans-serif;
            margin-top: 4rem;
            text-align: center;
            h1 {
                margin: 0rem 0.4rem;
            }
        }
        .parent {
            margin: 2rem 0rem 4rem 3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            height: 620px;
            width: 95%;
            .item {
                img {
                    height: 620px;
                    width: 100%;
                }
                border: none;
                &:hover {
                    button {
                        display: block;
                        &:hover {
                            background-color: rgb(4, 108, 169);
                            border: 1px solid rgb(4, 108, 169);
                        }
                    }
                }
                button {
                    height: 4.5rem;
                    width: 100%;
                    position: absolute;
                    bottom: 6.6rem;
                    font-size: 24px;
                    background-color: black;
                    color: white;
                    display: none;
                }
                .card-body {
                    text-align: center;
                    h4 {
                        font-family: "Montserrat", sans-serif;
                    }
                    p {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    footer {
        margin-top: 3rem;
        .box1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 370px;
            .item1 {
                background-image: url(../img/ace73779-62a7-4f51-ade7-e3355bf1a82c.jpg);
                background-position: center;
                background-size: cover;
                width: 16.6%;
            }
            .item2 {
                background-image: url(../img/af4478ea-90eb-4965-af22-1262f1e785fa.jpg );
                background-position: center;
                background-size: cover;
                width: 16.6%;
            }
            .item3 {
                background-image: url(../img/3c79df5e-3ae4-4f58-beef-720f7c8036d6.jpg);
                background-position: center;
                background-size: cover;
                width: 16.6%;
            }
            .item4 {
                background-image: url(../img/e4b944b3-16fb-4488-9e71-69b513eff19c.jpg );
                background-position: center;
                background-size: cover;
                width: 16.6%;
            }
            .item5 {
                background-image: url(../img/32a8315d-6d96-4796-985f-a8e8fc663cc6.jpg);
                background-position: center;
                background-size: cover;
                width: 16.6%;
            }
            .item6 {
                background-image: url(../img/65c2768a-900f-4022-801a-ff3ce9d880f8.jpg);
                background-position: center;
                background-size: cover;
                width: 16.6%;
            }
        }
        .box2 {
            margin-top: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            ul {
                list-style: none;
                li {
                    font-weight: 600;
                    text-align: center;
                    font-size: 20px;
                    h4 {
                        font-family: "Montserrat", sans-serif;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    input {
                        border: 1px ridge;
                        width: 13rem;
                        height: 2.5rem;
                        margin-top: 1rem;
                    }
                    button {
                        background-color: black;
                        color: white;
                        border: 1px solid black;
                        padding: 0.3rem 1rem;
                        margin-top: 1rem;
                        font-size: 18px;
                        &:hover {
                            background-color: rgb(80, 150, 241);
                            border: 1px solid rgb(80, 150, 241);
                        }
                    }
                }
            }
        }
        .box3 {
            margin-top: 3rem;
            .left-col1 {
                p {
                    padding-left: 4.5rem;
                    font-size: 22px;
                }
            }
            .right-col1 {
                img {
                    width: 450px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 16rem!important;
        .navbar1 {
            height: 3rem!important;
            .left-col1 {
                .left-icons {
                    margin-left: 0rem!important;
                    margin-top: 1rem!important;
                    img {
                        width: 18px!important;
                        margin-right: 0.5rem!important;
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                    }
                }
            }
            .right-col1 {
                .right-icons {
                    justify-content: flex-start!important;
                    margin-right: 0rem!important;
                    .icon1 {
                        display: none!important;
                    }
                    .icon1,
                    .icon2 {
                        padding-top: 0.7rem!important;
                        margin-left: 3rem!important;
                        img {
                            width: 19px!important;
                        }
                        span {
                            font-size: 16px!important;
                            vertical-align: middle!important;
                        }
                    }
                }
            }
        }
        .logo {
            height: 9rem!important;
            img {
                height: 140px!important;
                width: 300px!important;
                margin-top: 0rem!important;
            }
        }
        .navbar2 {
            height: 4rem!important;
            position: relative;
            .left-col2 {
                border-right: 1px ridge!important;
                .navbar-menu {
                    .hamburger {
                        border: none;
                        display: block!important;
                        margin-top: 1.1rem!important;
                        margin-right: 2.9rem!important;
                        img {
                            width: 31px!important;
                        }
                    }
                    .nav1 {
                       
                        display: none!important;
                    
                   
                        a{font-size: 23px!important;}

                      
                    }
                }
            }
            .right-col2 {
                .bag {
                    padding-top: 0.5rem!important;
                    padding-left: 2.2rem!important;
                    img {
                        width: 31px!important;
                    }
                }
            }
        }
    }
    main {
        .img-box {
            margin: 1rem 0rem 0rem 1rem !important;
        }
        .parent {
            margin: 2rem 0rem 13rem 0rem!important;
            height: 160px!important;
            width: 100%!important;
            .item {
                img {
                    height: 160px!important;
                    width: 90%!important;
                }
                &:hover {
                    button {
                        display: block;
                        &:hover {
                            background-color: rgb(4, 108, 169);
                            border: 1px solid rgb(4, 108, 169);
                        }
                    }
                }
                button {
                    height: 2.5rem!important;
                    width: 90%!important;
                    position: absolute;
                    top: 130%!important;
                    font-size: 14px!important;
                    background-color: black;
                    color: white;
                    display: none;
                }
                .card-body {
                    h4 {
                        font-family: "Montserrat", sans-serif;
                        font-size: 16px!important;
                        font-weight: 500!important;
                    }
                    p {
                        font-size: 13px!important;
                    }
                }
            }
        }
    }
    footer {
        margin-top: 3rem !important;
        .box1 {
            .item1,
            .item2,
            .item3,
            .item4,
            .item5,
            .item6 {
                width: 33.3% !important;
            }
        }
        .box2 {
            margin-top: 2rem !important;
            ul {
                li {
                    font-size: 13px !important;
                }
            }
        }
        .box3 {
            margin-top: 1.5rem !important;
            .left-col1 {
                p {
                    text-align: center !important;
                    padding-left: 1rem!important;
                    font-size: 13px !important;
                }
            }
            .right-col1 {
                display: flex !important;
                justify-content: center !important;
                img {
                    width: 200px !important;
                }
            }
        }
    }
    
}