* {
  margin: 0;
  padding: 0;
}

body {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 2000px;
  max-width: 100%;
  list-style-type: none;
}

body header {
  height: 23rem;
}

body header .navbar1 {
  height: 4rem;
  border-bottom: 1px ridge;
}

body header .navbar1 .left-col1 .left-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 6rem;
  margin-top: 1rem;
}

body header .navbar1 .left-col1 .left-icons img {
  width: 25px;
  margin-right: 0.9rem;
}

body header .navbar1 .left-col1 .left-icons img:nth-child(4) {
  margin-right: 0;
}

body header .navbar1 .right-col1 .right-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 4rem;
}

body header .navbar1 .right-col1 .right-icons .icon1,
body header .navbar1 .right-col1 .right-icons .icon2 {
  padding-top: 1rem;
  margin-left: 1rem;
}

body header .navbar1 .right-col1 .right-icons .icon1 img,
body header .navbar1 .right-col1 .right-icons .icon2 img {
  width: 24px;
}

body header .navbar1 .right-col1 .right-icons .icon1 span,
body header .navbar1 .right-col1 .right-icons .icon2 span {
  font-size: 18px;
}

body header .logo {
  border-bottom: 1px ridge;
  height: 13rem;
  text-align: center;
}

body header .logo img {
  padding-top: 0.5rem;
  height: 170px;
  width: auto;
}

body header .navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px ridge;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 6rem;
  position: relative;
}

body header .navbar2 .left-col2 .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body header .navbar2 .left-col2 .navbar-menu .hamburger {
  border: none;
  background-color: transparent;
  display: none;
  margin-top: 1rem;
  cursor: pointer;
}

body header .navbar2 .left-col2 .navbar-menu .hamburger img {
  width: 25px;
}

body header .navbar2 .left-col2 .navbar-menu .hamburger :focus {
  outline: none;
}

body header .navbar2 .left-col2 .navbar-menu .nav {
  margin-top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body header .navbar2 .left-col2 .navbar-menu .nav li :hover {
  background-color: #e4e0e0;
}

body header .navbar2 .left-col2 .navbar-menu .nav a {
  color: black;
  font-weight: 400;
  font-size: 27px;
  margin-right: 4rem;
  text-decoration: none;
}

body header .navbar2 .left-col2 .navbar-menu .nav a:nth-child(6) {
  margin-right: 0rem;
}

body header .navbar2 .left-col2 .navbar-menu .nav .hover div {
  position: relative;
}

body header .navbar2 .left-col2 .navbar-menu .nav .hover div img {
  position: absolute;
  left: 59%;
  top: 28%;
}

body header .navbar2 .left-col2 .navbar-menu .nav .hover .block {
  display: none;
  list-style: none;
  border: 1px ridge;
  height: 110px;
  width: 13rem;
}

body header .navbar2 .left-col2 .navbar-menu .nav .hover .block li {
  width: 110px;
}

body header .navbar2 .left-col2 .navbar-menu .nav .hover .block li a {
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

body header .navbar2 .left-col2 .navbar-menu .nav .hover:hover .block {
  display: block;
  position: absolute;
  background-color: white;
  margin-top: 4px;
  margin-left: -49px;
}

body header .navbar2 .right-col2 .bag {
  padding-top: 1rem;
}

body header .navbar2 .right-col2 .bag img {
  width: 30px;
}

body main .text {
  font-family: "Montserrat", sans-serif;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .text h1 {
  font-size: 70px;
  -webkit-box-shadow: inset 0 -0.45em 0 #fcefcf;
          box-shadow: inset 0 -0.45em 0 #fcefcf;
  margin: 0rem 0.4rem;
}

body main .content {
  margin: 6rem;
}

body main .content .left-col .leftbox {
  margin: 2rem 0rem;
  border-top: 1px solid #b4b2b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 2.5rem;
  width: 54rem;
}

body main .content .left-col .leftbox .left .card {
  border: none;
}

body main .content .left-col .leftbox .left .card .card-body p {
  font-size: 22px;
}

body main .content .left-col .leftbox .right {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .content .left-col .leftbox .right input {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
}

body main .content .left-col .leftbox .right button {
  width: 35px;
  height: 35px;
  background-color: #f0eeee;
  border: 1px solid #b4b2b2;
  font-size: 20px;
  border-radius: 5px;
}

body main .content .left-col .leftbox .right .text1 {
  margin-left: 1rem;
  padding: 0.7rem;
  font-size: 25px;
}

body main .content .left-col .leftbox .icon {
  margin-top: 1.3rem;
  margin-left: 1rem;
}

body main .content .left-col .leftbox .icon img {
  width: 27px;
}

body main .content .left-col .btn {
  border-top: 1px solid #b4b2b2;
  width: 54rem;
  padding-top: 2rem;
}

body main .content .left-col .btn input {
  width: 300px;
  height: 72px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
  margin-right: 1rem;
}

body main .content .left-col .btn button {
  width: 240px;
  height: 70px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #cecccc;
  border-radius: 5px;
  background-color: #e5e2e2;
}

body main .content .left-col .btn button:hover {
  background-color: #dbdada;
}

body main .content .right-col {
  margin-top: 6rem;
  height: 660px;
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid #e1dede;
  background-color: #f7f6f6;
  border-radius: 10px;
}

body main .content .right-col .rightbox1 {
  height: 150px;
  height: 7rem;
  border-bottom: 1px solid #b4b2b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .content .right-col .rightbox1 h3,
body main .content .right-col .rightbox1 p {
  font-weight: 700;
}

body main .content .right-col .rightbox1 p {
  font-size: 25px;
}

body main .content .right-col .rightbox2 {
  height: 280px;
  border-bottom: 1px solid #b4b2b2;
  padding-top: 2rem;
}

body main .content .right-col .rightbox2 h3,
body main .content .right-col .rightbox2 p {
  font-weight: 700;
}

body main .content .right-col .rightbox2 form {
  padding-top: 1.5rem;
}

body main .content .right-col .rightbox2 form label {
  font-size: 25px;
}

body main .content .right-col .rightbox2 a {
  color: black;
  font-weight: 600;
  font-size: 25px;
}

body main .content .right-col .rightbox2 a img {
  width: 30px;
}

body main .content .right-col .rightbox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  border-bottom: 1px solid #b4b2b2;
}

body main .content .right-col .rightbox3 h3,
body main .content .right-col .rightbox3 p {
  font-weight: 700;
}

body main .content .right-col .rightbox3 p {
  font-size: 25px;
}

body main .content .right-col .rightbox4 {
  height: 120px;
}

body main .content .right-col .rightbox4 button {
  width: 40rem;
  height: 5.5rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 25px;
}

body main .content .right-col .rightbox4 button:hover {
  background-color: #0a8db4;
  border: 1px solid #0daedf;
}

body footer {
  margin-top: 6rem;
}

body footer .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 370px;
}

body footer .box1 .item1 {
  background-image: url(../img/ace73779-62a7-4f51-ade7-e3355bf1a82c.jpg);
  background-position: center;
  background-size: cover;
  width: 16.6%;
}

body footer .box1 .item2 {
  background-image: url(../img/af4478ea-90eb-4965-af22-1262f1e785fa.jpg);
  background-position: center;
  background-size: cover;
  width: 16.6%;
}

body footer .box1 .item3 {
  background-image: url(../img/3c79df5e-3ae4-4f58-beef-720f7c8036d6.jpg);
  background-position: center;
  background-size: cover;
  width: 16.6%;
}

body footer .box1 .item4 {
  background-image: url(../img/e4b944b3-16fb-4488-9e71-69b513eff19c.jpg);
  background-position: center;
  background-size: cover;
  width: 16.6%;
}

body footer .box1 .item5 {
  background-image: url(../img/32a8315d-6d96-4796-985f-a8e8fc663cc6.jpg);
  background-position: center;
  background-size: cover;
  width: 16.6%;
}

body footer .box1 .item6 {
  background-image: url(../img/65c2768a-900f-4022-801a-ff3ce9d880f8.jpg);
  background-position: center;
  background-size: cover;
  width: 16.6%;
}

body footer .box2 {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body footer .box2 ul {
  list-style: none;
}

body footer .box2 ul li {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

body footer .box2 ul li h4 {
  font-family: "Montserrat", sans-serif;
}

body footer .box2 ul li a {
  text-decoration: none;
  color: black;
}

body footer .box2 ul li input {
  border: 1px ridge;
  width: 13rem;
  height: 2.5rem;
  margin-top: 1rem;
}

body footer .box2 ul li button {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  font-size: 18px;
}

body footer .box2 ul li button:hover {
  background-color: #5096f1;
  border: 1px solid #5096f1;
}

body footer .box3 {
  margin-top: 3rem;
}

body footer .box3 .left-col1 p {
  padding-left: 4.5rem;
  font-size: 22px;
}

body footer .box3 .right-col1 img {
  width: 450px;
}

@media only screen and (max-width: 600px) {
  header {
    height: 16rem !important;
  }
  header .navbar1 {
    height: 3rem !important;
  }
  header .navbar1 .left-col1 .left-icons {
    margin-left: 0rem !important;
    margin-top: 1rem !important;
  }
  header .navbar1 .left-col1 .left-icons img {
    width: 19px !important;
    margin-right: 0.5rem !important;
  }
  header .navbar1 .left-col1 .left-icons img:nth-child(4) {
    margin-right: 0;
  }
  header .navbar1 .right-col1 .right-icons {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-right: 0rem !important;
  }
  header .navbar1 .right-col1 .right-icons .icon1 {
    display: none !important;
  }
  header .navbar1 .right-col1 .right-icons .icon1,
  header .navbar1 .right-col1 .right-icons .icon2 {
    padding-top: 0.7rem !important;
    margin-left: 3rem !important;
  }
  header .navbar1 .right-col1 .right-icons .icon1 img,
  header .navbar1 .right-col1 .right-icons .icon2 img {
    width: 20px !important;
  }
  header .navbar1 .right-col1 .right-icons .icon1 span,
  header .navbar1 .right-col1 .right-icons .icon2 span {
    font-size: 16px !important;
    vertical-align: middle !important;
  }
  header .logo {
    height: 9rem !important;
  }
  header .logo img {
    height: 150px !important;
    width: 310px !important;
  }
  header .navbar2 {
    height: 4rem !important;
    position: relative;
  }
  header .navbar2 .left-col2 {
    border-right: 1px ridge !important;
  }
  header .navbar2 .left-col2 .navbar-menu .hamburger {
    border: none;
    display: block !important;
    margin-top: 1.1rem !important;
    margin-right: 2.9rem !important;
  }
  header .navbar2 .left-col2 .navbar-menu .hamburger img {
    width: 31px !important;
  }
  header .navbar2 .left-col2 .navbar-menu .nav {
    display: none !important;
  }
  header .navbar2 .right-col2 .bag {
    padding-top: 0.5rem !important;
    padding-left: 2.2rem !important;
  }
  header .navbar2 .right-col2 .bag img {
    width: 31px !important;
  }
  main .text {
    font-family: "Montserrat", sans-serif;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .text h1 {
    font-size: 70px;
    -webkit-box-shadow: inset 0 -0.45em 0 #fcefcf;
            box-shadow: inset 0 -0.45em 0 #fcefcf;
    margin: 0rem 0.4rem;
  }
  main .content {
    margin: 4rem 0rem !important;
  }
  main .content .left-col .leftbox {
    margin: 1rem 0rem !important;
    padding-top: 2rem !important;
    padding-left: 0rem !important;
    width: 22rem !important;
  }
  main .content .left-col .leftbox .left .card img {
    display: none !important;
  }
  main .content .left-col .leftbox .left .card .card-body p {
    font-size: 16px !important;
  }
  main .content .left-col .leftbox .right {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  main .content .left-col .leftbox .right .btn-box input {
    width: 65px !important;
    height: 65px !important;
    font-size: 25px !important;
    border-radius: 3px !important;
  }
  main .content .left-col .leftbox .right .btn-box button {
    margin-top: 0.2rem !important;
    margin-left: 0rem !important;
    width: 25px !important;
    height: 25px !important;
    font-size: 13px !important;
    border-radius: 1px !important;
  }
  main .content .left-col .leftbox .right .btn-box button:nth-child(2) {
    margin-left: 0.4rem !important;
  }
  main .content .left-col .leftbox .right .text1 {
    margin: 0.5rem 0.4rem !important;
    padding: 0.5rem !important;
    font-size: 18px !important;
  }
  main .content .left-col .leftbox .right .icon {
    margin-top: 1rem !important;
    margin-left: 0rem !important;
  }
  main .content .left-col .leftbox .right .icon img {
    width: 18px !important;
  }
  main .content .left-col .btn {
    width: 22rem !important;
    padding-top: 2rem;
  }
  main .content .left-col .btn input {
    width: 300px !important;
    height: 72px !important;
    font-size: 25px !important;
    margin-bottom: 1rem !important;
  }
  main .content .left-col .btn button {
    width: 200px !important;
    height: 60px !important;
    font-size: 22px !important;
  }
  main .content .right-col {
    width: 22rem !important;
    height: 550px !important;
    border-radius: 5px !important;
  }
  main .content .right-col .rightbox1 {
    height: 100px !important;
  }
  main .content .right-col .rightbox1 p {
    font-size: 18px !important;
  }
  main .content .right-col .rightbox2 {
    height: 250px !important;
  }
  main .content .right-col .rightbox2 form {
    padding-top: 0rem !important;
  }
  main .content .right-col .rightbox2 form label {
    font-size: 16px !important;
  }
  main .content .right-col .rightbox2 a {
    font-size: 16px !important;
  }
  main .content .right-col .rightbox2 a img {
    width: 20px !important;
  }
  main .content .right-col .rightbox3 {
    height: 100px !important;
  }
  main .content .right-col .rightbox3 p {
    font-size: 18px !important;
  }
  main .content .right-col .rightbox4 {
    height: 100px !important;
  }
  main .content .right-col .rightbox4 button {
    width: 15rem !important;
    height: 3.5rem !important;
    margin-top: 1.2rem !important;
    margin-left: 2.5rem;
    font-size: 16px !important;
  }
  footer {
    margin-top: 3rem !important;
  }
  footer .box1 .item1,
  footer .box1 .item2,
  footer .box1 .item3,
  footer .box1 .item4,
  footer .box1 .item5,
  footer .box1 .item6 {
    width: 33.3% !important;
  }
  footer .box2 {
    margin-top: 2rem !important;
  }
  footer .box2 ul li {
    font-size: 13px !important;
  }
  footer .box3 {
    margin-top: 1.5rem !important;
  }
  footer .box3 .left-col1 p {
    text-align: center !important;
    padding-left: 1rem !important;
    font-size: 13px !important;
  }
  footer .box3 .right-col1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  footer .box3 .right-col1 img {
    width: 200px !important;
  }
}
/*# sourceMappingURL=style.css.map */